.header {
    margin-top: 10px;
}

nav {
    background: #d6d6d6;
    padding: 10px 0px;
}

.header nav a.active {
    color: red;
}

.header nav a {
    text-decoration: none;
    margin-right: 40px;
    color: black;
    font-size: 20px;
    padding: 0px;
}